@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=DM+Sans:ital@1&family=Lora:ital@1&family=Noto+Sans+JP:wght@100&family=Pixelify+Sans&family=Raleway:wght@100&family=Righteous&family=Smokum&display=swap');

body {
    font-family: Pixelify Sans;
    background-color: #0a0c0d;
}

:root {
    --cor1: #f2f2f2;
    --cor2: #348e91;
    --cor3: #1c5052;
    --cor4: #213635;
    --cor5: #0a0c0d;
}

#container-a {
    background-color: #F7F7F7;
    width: 30vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#container-b {
    margin-top: 70px;
}

#container-c {
    margin-top: 320px;
}

.form-floating {
    width: 300px;
}

.collapse {
    justify-content: right;
}

.navbar {
    background-color: var(--cor2) !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 40%;
    grid-template-areas:

        'div div div';
}